In [1]:
import nba_api
from nba_api.stats.static import teams
from nba_api.stats.endpoints import commonteamroster, commonplayerinfo
import pandas as pd
import time

full_league = teams.get_teams()
season = 2022

In [28]:
sum_teams = []
full_df = []

for team in full_league:
  tid = team['id']
  tname = team['abbreviation']
  team_df = commonteamroster.CommonTeamRoster(season=season, team_id=tid).get_data_frames()[0]
  lottery_players = 0
  for player in team_df['PLAYER_ID']:
    pid = player
    player_df = commonplayerinfo.CommonPlayerInfo(player_id=pid).get_data_frames()[0]
    pid = player_df['PERSON_ID'][0]
    pname = player_df['DISPLAY_FIRST_LAST'][0]
    player_pick = player_df['DRAFT_NUMBER'][0]
    lottery = int(player_pick) <= 14 if (player_pick != 'Undrafted') and (player_pick is not None) else False
    lottery_players += 1 if lottery is True else 0
    full_df.append(player_df.to_dict())
    time.sleep(0.2)
  sum_teams.append({'team': tname, 'lottery_players': lottery_players, 'players': len(team_df['PLAYER_ID'])})

full = pd.DataFrame()

for row in full_df:
  full = pd.concat([full, pd.DataFrame([val[0] for val in row.values()]).transpose()])
full.columns = full_df[0].keys()

pd.DataFrame(sum_teams).to_csv("data/team_lottery.csv")
full.to_csv("data/all_players.csv")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,1631495,Donovan,Williams,Donovan Williams,"Williams, Donovan",D. Williams,donovan-williams,2001-09-06T00:00:00,UNLV,USA,...,donovan_williams,2022,2022,Y,N,N,Undrafted,Undrafted,Undrafted,N
0,1630552,Jalen,Johnson,Jalen Johnson,"Johnson, Jalen",J. Johnson,jalen-johnson,2001-12-18T00:00:00,Duke,USA,...,jalen_johnson,2021,2022,Y,Y,Y,2021,1,20,N
0,1630235,Trent,Forrest,Trent Forrest,"Forrest, Trent",T. Forrest,trent-forrest,1998-06-12T00:00:00,Florida State,USA,...,trent_forrest,2020,2022,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
0,1628988,Aaron,Holiday,Aaron Holiday,"Holiday, Aaron",A. Holiday,aaron-holiday,1996-09-30T00:00:00,UCLA,USA,...,aaron_holiday,2018,2022,N,Y,Y,2018,1,23,N
0,1627749,Dejounte,Murray,Dejounte Murray,"Murray, Dejounte",D. Murray,dejounte-murray,1996-09-19T00:00:00,Washington,USA,...,dejounte_murray,2016,2022,Y,Y,Y,2016,1,29,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1629004,Svi,Mykhailiuk,Svi Mykhailiuk,"Mykhailiuk, Svi",S. Mykhailiuk,svi-mykhailiuk,1997-06-10T00:00:00,Kansas,Ukraine,...,sviatoslav_mykhailiuk,2018,2022,Y,Y,Y,2018,2,47,N
0,202330,Gordon,Hayward,Gordon Hayward,"Hayward, Gordon",G. Hayward,gordon-hayward,1990-03-23T00:00:00,Butler,USA,...,gordon_hayward,2010,2022,N,Y,Y,2010,1,9,N
0,1630550,JT,Thor,JT Thor,"Thor, JT",J. Thor,jt-thor,2002-08-26T00:00:00,Auburn,USA,...,jt_thor,2021,2022,Y,Y,Y,2021,2,37,N
0,1630539,Kai,Jones,Kai Jones,"Jones, Kai",K. Jones,kai-jones,2001-01-19T00:00:00,Texas,Bahamas,...,kai_jones,2021,2022,Y,Y,Y,2021,1,19,N
0,1629023,P.J.,Washington,P.J. Washington,"Washington, P.J.",P. Washington,pj-washington,1998-08-23T00:00:00,Kentucky,USA,...,pj_washington,2019,2022,N,Y,Y,2019,1,12,N

In [8]:
commonteamroster.CommonTeamRoster(season="2022", team_id="1610612739").get_data_frames()[0]

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612739,2022,00,Caris LeVert,Caris,caris-levert,3,G,6-6,205,"AUG 25, 1994",28.0,6,Michigan,1627747,Traded from IND on 02/07/22
1,1610612739,2022,00,Evan Mobley,Evan,evan-mobley,4,C,6-11,215,"JUN 18, 2001",21.0,1,Southern California,1630596,#3 Pick in 2021 Draft
2,1610612739,2022,00,Lamar Stevens,Lamar,lamar-stevens,8,F,6-6,230,"JUL 09, 1997",25.0,2,Penn State,1630205,Signed on 11/28/20
3,1610612739,2022,00,Dylan Windler,Dylan,dylan-windler,9,G-F,6-7,196,"SEP 22, 1996",26.0,2,Belmont,1629685,#26 Pick in 2019 Draft
4,1610612739,2022,00,Darius Garland,Darius,darius-garland,10,G,6-1,192,"JAN 26, 2000",23.0,3,Vanderbilt,1629636,#5 Pick in 2019 Draft
5,1610612739,2022,00,Ricky Rubio,Ricky,ricky-rubio,13,G,6-2,190,"OCT 21, 1990",32.0,11,FC Barcelona,201937,Signed on 07/07/22
6,1610612739,2022,00,Danny Green,Danny,danny-green,14,G,6-6,215,"JUN 22, 1987",35.0,13,North Carolina,201980,Signed on 02/14/23
7,1610612739,2022,00,Isaiah Mobley,Isaiah,isaiah-mobley,15,F,6-8,238,"SEP 24, 1999",23.0,R,Southern California,1630600,#49 Pick in 2022 Draft
8,1610612739,2022,00,Cedi Osman,Cedi,cedi-osman,16,F,6-7,230,"APR 08, 1995",27.0,5,Anadolu Efes,1626224,Draft Rights Traded from MIN on 06/25/15
9,1610612739,2022,00,Raul Neto,Raul,raul-neto,19,G,6-2,180,"MAY 19, 1992",30.0,7,Murcia,203526,Signed on 07/07/22
10,1610612739,2022,00,Mamadi Diakite,Mamadi,mamadi-diakite,21,F,6-9,228,"JAN 21, 1997",26.0,2,Virginia,1629603,Signed on 09/19/22
11,1610612739,2022,00,Jarrett Allen,Jarrett,jarrett-allen,31,C,6-9,243,"APR 21, 1998",24.0,5,Texas,1628386,Traded from BKN on 01/16/21
12,1610612739,2022,00,Dean Wade,Dean,dean-wade,32,F-C,6-9,228,"NOV 20, 1996",26.0,3,Kansas State,1629731,Signed on 07/01/19
13,1610612739,2022,00,Robin Lopez,Robin,robin-lopez,33,C,7-0,281,"APR 01, 1988",34.0,14,Stanford,201577,Signed on 07/07/22
14,1610612739,2022,00,Isaac Okoro,Isaac,isaac-okoro,35,F-G,6-5,225,"JAN 26, 2001",22.0,2,Auburn,1630171,#5 Pick in 2020 Draft
15,1610612739,2022,00,Donovan Mitchell,Donovan,donovan-mitchell,45,G,6-1,215,"SEP 07, 1996",26.0,5,Louisville,1628378,Traded from UTA on 09/03/22

In [42]:
df = commonplayerinfo.CommonPlayerInfo(player_id="201980").get_data_frames()[0]

In [84]:
pd.DataFrame(full_df)

                                                    0
0   [0, 1631495, Donovan, Williams, Donovan Willia...
1   [0, 1630552, Jalen, Johnson, Jalen Johnson, Jo...
2   [0, 1630235, Trent, Forrest, Trent Forrest, Fo...
3   [0, 1628988, Aaron, Holiday, Aaron Holiday, Ho...
4   [0, 1627749, Dejounte, Murray, Dejounte Murray...
5   [0, 1629027, Trae, Young, Trae Young, Young, T...
6   [0, 1629631, De'Andre, Hunter, De'Andre Hunter...
7   [0, 203992, Bogdan, Bogdanovic, Bogdan Bogdano...
8   [0, 1631100, AJ, Griffin, AJ Griffin, Griffin,...
9   [0, 203991, Clint, Capela, Clint Capela, Capel...
10  [0, 1630168, Onyeka, Okongwu, Onyeka Okongwu, ...
11  [0, 1628381, John, Collins, John Collins, Coll...
12  [0, 1628981, Bruno, Fernando, Bruno Fernando, ...
13  [0, 1631213, Tyrese, Martin, Tyrese Martin, Ma...
14  [0, 1629726, Garrison, Mathews, Garrison Mathe...
15  [0, 1630249, Vit, Krejci, Vit Krejci, Krejci, ...
16  [0, 1630180, Saddiq, Bey, Saddiq Bey, Bey, Sad...

In [44]:
df['TEAM_ABBREVIATION']

0    CLE
Name: TEAM_ABBREVIATION, dtype: object

In [73]:
full_df

[array([[1631495, 'Donovan', 'Williams', 'Donovan Williams',
         'Williams, Donovan', 'D. Williams', 'donovan-williams',
         '2001-09-06T00:00:00', 'UNLV', 'USA', 'UNLV/USA', '6-6', '190',
         0, '', 'Guard', 'Active', 'N', 1610612737, 'Hawks', 'ATL',
         'hawks', 'Atlanta', 'donovan_williams', 2022, 2022, 'Y', 'N',
         'N', 'Undrafted', 'Undrafted', 'Undrafted', 'N']], dtype=object),
 array([[1630552, 'Jalen', 'Johnson', 'Jalen Johnson', 'Johnson, Jalen',
         'J. Johnson', 'jalen-johnson', '2001-12-18T00:00:00', 'Duke',
         'USA', 'Duke/USA', '6-8', '219', 1, '1', 'Forward', 'Active',
         'Y', 1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta',
         'jalen_johnson', 2021, 2022, 'Y', 'Y', 'Y', '2021', '1', '20',
         'N']], dtype=object),
 array([[1630235, 'Trent', 'Forrest', 'Trent Forrest', 'Forrest, Trent',
         'T. Forrest', 'trent-forrest', '1998-06-12T00:00:00',
         'Florida State', 'USA', 'Florida State/USA', '6-4', '210', 2,
         '2', 'Guard', 'Active', 'Y', 1610612737, 'Hawks', 'ATL', 'hawks',
         'Atlanta', 'trent_forrest', 2020, 2022, 'Y', 'Y', 'Y',
         'Undrafted', 'Undrafted', 'Undrafted', 'N']], dtype=object),
 array([[1628988, 'Aaron', 'Holiday', 'Aaron Holiday', 'Holiday, Aaron',
         'A. Holiday', 'aaron-holiday', '1996-09-30T00:00:00', 'UCLA',
         'USA', 'UCLA/USA', '6-0', '185', 4, '3', 'Guard', 'Active', 'Y',
         1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta', 'aaron_holiday',
         2018, 2022, 'N', 'Y', 'Y', '2018', '1', '23', 'N']], dtype=object),
 array([[1627749, 'Dejounte', 'Murray', 'Dejounte Murray',
         'Murray, Dejounte', 'D. Murray', 'dejounte-murray',
         '1996-09-19T00:00:00', 'Washington', 'USA', 'Washington/USA',
         '6-5', '180', 5, '5', 'Guard', 'Active', 'Y', 1610612737,
         'Hawks', 'ATL', 'hawks', 'Atlanta', 'dejounte_murray', 2016,
         2022, 'Y', 'Y', 'Y', '2016', '1', '29', 'N']], dtype=object),
 array([[1629027, 'Trae', 'Young', 'Trae Young', 'Young, Trae',
         'T. Young', 'trae-young', '1998-09-19T00:00:00', 'Oklahoma',
         'USA', 'Oklahoma/USA', '6-1', '164', 4, '11', 'Guard', 'Active',
         'Y', 1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta',
         'trae_young', 2018, 2022, 'N', 'Y', 'Y', '2018', '1', '5', 'N']],
       dtype=object),
 array([[1629631, "De'Andre", 'Hunter', "De'Andre Hunter",
         "Hunter, De'Andre", 'D. Hunter', 'deandre-hunter',
         '1997-12-02T00:00:00', 'Virginia', 'USA', 'Virginia/USA', '6-8',
         '221', 3, '12', 'Forward-Guard', 'Active', 'Y', 1610612737,
         'Hawks', 'ATL', 'hawks', 'Atlanta', 'deandre_hunter', 2019, 2022,
         'N', 'Y', 'Y', '2019', '1', '4', 'N']], dtype=object),
 array([[203992, 'Bogdan', 'Bogdanovic', 'Bogdan Bogdanovic',
         'Bogdanovic, Bogdan', 'B. Bogdanovic', 'bogdan-bogdanovic',
         '1992-08-18T00:00:00', 'Fenerbahce', 'Serbia',
         'Fenerbahce/Serbia', '6-5', '225', 5, '13', 'Guard', 'Active',
         'Y', 1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta',
         'bogdan_bogdanovic', 2017, 2022, 'N', 'Y', 'Y', '2014', '1',
         '27', 'N']], dtype=object),
 array([[1631100, 'AJ', 'Griffin', 'AJ Griffin', 'Griffin, AJ',
         'A. Griffin', 'aj-griffin', '2003-08-25T00:00:00', 'Duke', 'USA',
         'Duke/USA', '6-6', '220', 0, '14', 'Forward', 'Active', 'Y',
         1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta', 'aj_griffin',
         2022, 2022, 'N', 'Y', 'Y', '2022', '1', '16', 'N']], dtype=object),
 array([[203991, 'Clint', 'Capela', 'Clint Capela', 'Capela, Clint',
         'C. Capela', 'clint-capela', '1994-05-18T00:00:00',
         'Elan Chalon', 'Switzerland', 'Elan Chalon/Switzerland', '6-10',
         '256', 8, '15', 'Center', 'Active', 'Y', 1610612737, 'Hawks',
         'ATL', 'hawks', 'Atlanta', 'clint_capela', 2014, 2022, 'Y', 'Y',
         'Y', '2014', '1', '25', 'N']], dtype=object),
 array([[1630168, 'Onyeka', 'Okongwu', 'Onyeka Okongwu',
         'Okongwu, Onyeka', 'O. Okongwu', 'onyeka-okongwu',
         '2000-12-11T00:00:00', 'Southern California', 'USA',
         'Southern California/USA', '6-9', '240', 2, '17',
         'Forward-Center', 'Active', 'Y', 1610612737, 'Hawks', 'ATL',
         'hawks', 'Atlanta', 'onyeka_okongwi', 2020, 2022, 'Y', 'Y', 'Y',
         '2020', '1', '6', 'N']], dtype=object),
 array([[1628381, 'John', 'Collins', 'John Collins', 'Collins, John',
         'J. Collins', 'john-collins', '1997-09-23T00:00:00',
         'Wake Forest', 'USA', 'Wake Forest/USA', '6-9', '226', 5, '20',
         'Forward-Center', 'Active', 'Y', 1610612737, 'Hawks', 'ATL',
         'hawks', 'Atlanta', 'john_collins', 2017, 2022, 'N', 'Y', 'Y',
         '2017', '1', '19', 'N']], dtype=object),
 array([[1628981, 'Bruno', 'Fernando', 'Bruno Fernando',
         'Fernando, Bruno', 'B. Fernando', 'bruno-fernando',
         '1998-08-15T00:00:00', 'Maryland', 'Angola', 'Maryland/Angola',
         '6-10', '240', 3, '20', 'Forward-Center', 'Active', 'Y',
         1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta', 'bruno_fernando',
         2019, 2022, 'Y', 'Y', 'Y', '2019', '2', '34', 'N']], dtype=object),
 array([[1631213, 'Tyrese', 'Martin', 'Tyrese Martin', 'Martin, Tyrese',
         'T. Martin', 'tyrese-martin', '1999-03-07T00:00:00',
         'Connecticut', 'USA', 'Connecticut/USA', '6-6', '215', 0, '22',
         'Guard', 'Active', 'Y', 1610612737, 'Hawks', 'ATL', 'hawks',
         'Atlanta', 'tyrese_martin', 2022, 2022, 'Y', 'Y', 'Y', '2022',
         '2', '51', 'N']], dtype=object),
 array([[1629726, 'Garrison', 'Mathews', 'Garrison Mathews',
         'Mathews, Garrison', 'G. Mathews', 'garrison-mathews',
         '1996-10-24T00:00:00', 'Lipscomb', 'USA', 'Lipscomb/USA', '6-6',
         '215', 3, '25', 'Guard', 'Active', 'Y', 1610612737, 'Hawks',
         'ATL', 'hawks', 'Atlanta', 'garrison_mathews', 2019, 2022, 'Y',
         'Y', 'Y', 'Undrafted', 'Undrafted', 'Undrafted', 'N']],
       dtype=object),
 array([[1630249, 'Vit', 'Krejci', 'Vit Krejci', 'Krejci, Vit',
         'V. Krejci', 'vit-krejci', '2000-06-19T00:00:00', 'Zaragoza',
         'Czech Republic', 'Zaragoza/Czech Republic', '6-8', '195', 1,
         '27', 'Guard', 'Active', 'Y', 1610612737, 'Hawks', 'ATL',
         'hawks', 'Atlanta', 'vit_krejci', 2021, 2022, 'Y', 'Y', 'Y',
         '2020', '2', '37', 'N']], dtype=object),
 array([[1630180, 'Saddiq', 'Bey', 'Saddiq Bey', 'Bey, Saddiq', 'S. Bey',
         'saddiq-bey', '1999-04-09T00:00:00', 'Villanova', 'USA',
         'Villanova/USA', '6-7', '215', 2, '41', 'Forward', 'Active', 'Y',
         1610612737, 'Hawks', 'ATL', 'hawks', 'Atlanta', 'saddiq_bey',
         2020, 2022, 'N', 'Y', 'Y', '2020', '1', '19', 'N']], dtype=object)]